        <main>
            <div class="container">

                <section class="details">
                    <h1>Theater title: {{title}}</h1>
                    <div>
                        <img src="{{image}}" />
                    </div>
                </section>

                <section class="details">
                    <h3>Theater Description</h3>
                    <p>{{description}}</p>
                    {{#if isOwner}}
                    <div class="buttons">
                        <a class="btn delete" href="/plays/{{_id}}/delete">Delete</a>
                        <a class="btn edit" href="/plays/{{_id}}/edit">Edit</a>
                    {{else}}
                        {{#if isLiked }}
                        <span class="liked">You have already liked this play!</span>
                        {{else}}
                        <a class="btn like" href="/plays/{{_id}}/like">Like</a>
                        {{/if}}
                    </div>
                    {{/if}}
                </section>
            </div>
        </main>